.wrapper {
margin: auto;
width: 80%;
height: 100%;
}
.logo, .menu {
display: inline-block;
}

.logo {
width:190px;
height:35px;
background: url(img/logo.svg);
margin-top: 30px;
}

.menu {
display: flex;
align-items: center;
padding-top: 29px;
}

.menu__item {
position: relative;
margin-right: 16px;
font: 500 19px/21px robotomedium, arial, helveticaneuecyrroman, sans-serif;
color: #000;
text-decoration: none;
transition: opacity .5s;
}

.menu__item:last-child {
margin-right:0;
margin-top: 0px;
}

.menu__item:hover {
opacity: .5;
}

.menu__item_active::after {
position: absolute;
display:block;
content:'';
left: 0;
width: 100%;
height: 3px;
background: #0056EC;

}

.menu__item:hover::after {
position: absolute;
display:block;
content:'';
left: 0;
width: 100%;
height: 3px;
background: #0056EC;
}

.menu__item:hover {
opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after {
opacity: 1;
}

.header {
padding: 4px 0;
display: flex;
justify-content: space-between;
margin-bottom: 239px;
}

.title {
font-family: robotoregular;
font-weight: bold;
}

.main__title {
font-family: pt_serifregular;
font-weight: 700;
font-size: 71px;
line-height: 84px;
width: 510px;
top: 710px;
align-items: center;
}

.main__subtitle {
font-family: robotoregular;
font-weight: 400;
font-size: 22px;
line-height: 22px;
width: 436px;
margin-bottom: 70px;
}

.main__button {
font-family: robotoregular;
font-weight: 500;
font-size: 18px;
line-height: 16px;
background: #0056EC;
color: #FFF;
text-decoration: none;
border-radius: 4px;
transition: opacity .5s;
margin-bottom: 25px;
padding: 18px 8px 18px 8px;
}

.main__button:hover {
	opacity: .5s;
}
.main {
	padding: 0 63% 120px 0;
	background: top right no-repeat url(img/frame.svg);
  background-size: 53%;
	margin: 0 0 0 0;
  height: 100vh;
  background-position-x: 102% ;
}
.main__title-text_highlight {
	background: linear-gradient(180deg,rgba(255,255,255,1) 15%, #ECF3FF 15%);
    margin: 0px 0 41px 0;
    line-height: 88px;
}

.image {
	margin-top: 185px;
    align-items: center;
    padding-left: 750px;
}

@media (width: 1920px) {
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1367px) {
  .logo {
    margin-left: 75px;
  }
  .header {
    margin-bottom: 28px;
  }
  .main {
    text-align: center;
    padding: 74% 0 0;
    margin-bottom: 20px;
    background-size: 52%;
    background-position: top-center;
  }
.main-title {
  text-align: center;
  margin-bottom: 44px;
  font: bold 30px/39px pt_serif, arial, helveticaneuecyrroman, sans-serif;
}

.menu {
display: flex;
align-items: center;
padding-top: 29px;
}

.menu__item {
position: relative;
margin-right: 24px;
font: 500 14px/19px robotomedium, arial, helveticaneuecyrroman, sans-serif;
color: #000;
text-decoration: none;
transition: opacity .5s;
}

.menu__item:last-child {
margin-right:0;
margin-top: 0px;
}

.menu__item:hover {
opacity: .5;
}

.menu__item_active::after {
position: absolute;
display:block;
content:'';
left: 0;
width: 100%;
height: 3px;
background: #0056EC;

}

.menu__item:hover::after {
position: absolute;
display:block;
content:'';
left: 0;
width: 100%;
height: 3px;
background: #0056EC;
}

.menu__item:hover {
opacity: .5;
}

.menu__item:hover:after, .menu__item_active:after {
opacity: 1;
}



.main-subtitle {
  text-align: center;
  margin-bottom: 25px;
  font: 500 16px/19px robotoregular, arial, helveticaneuecyrroman, sans-serif;
}

.main-button {
  font: 500 14px/16px robotoregular, arial, helveticaneuecyrroman, sans-serif;
}
}
@media (max-width: 1024px) {
.menu {
    display: none;
  }
  .header {
    margin-bottom: 28px;
  }
  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 75%;
    background-position: top-center;
  }
.main-title {
  text-align: center;
  margin-bottom: 44px;
  font: bold 30px/39px pt_serif, arial, helveticaneuecyrroman, sans-serif;
}

.main-subtitle {
  text-align: center;
  margin-bottom: 25px;
  font: 500 16px/19px robotoregular, arial, helveticaneuecyrroman, sans-serif;
}

.main-button {
  font: 500 14px/16px robotoregular, arial, helveticaneuecyrroman, sans-serif;
}
}


@media (max-width: 1170px) {
  //надо измерять по макету
.menu {
    display: none;
  }
  .header {
    margin-bottom: 28px;
  }
  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top-center;
  }
.main-title {
  text-align: center;
  margin-bottom: 44px;
  font: bold 30px/39px pt_serif, arial, helveticaneuecyrroman, sans-serif;
}

.main-subtitle {
  text-align: center;
  margin-bottom: 25px;
  font: 500 16px/19px robotoregular, arial, helveticaneuecyrroman, sans-serif;
}

.main-button {
  font: 500 14px/16px robotoregular, arial, helveticaneuecyrroman, sans-serif;
}
}

@media (max-width: 375px) {
.logo {
    display: none;
  }
  .header {
    margin-bottom: 28px;
  }
  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top-center;
  }
.main-title {
  text-align: center;
  margin-bottom: 44px;
  font: bold 30px/39px pt_serif, arial, helveticaneuecyrroman, sans-serif;
}

.main-subtitle {
  text-align: center;
  margin-bottom: 25px;
  font: 500 16px/19px robotoregular, arial, helveticaneuecyrroman, sans-serif;
}

.main-button {
  font: 500 14px/16px robotoregular, arial, helveticaneuecyrroman, sans-serif;
}
}

@media (max-width: 768px) {
	.menu {
		display: none;
	}
	.header {
		margin-bottom: 28px;
	}
	.main {
		text-align: center;
		padding: 74% 0 0;
		background-size: 74%;
		background-position: top-center;
	}
.main-title {
	text-align: center;
	margin-bottom: 44px;
	font: bold 30px/39px pt_serif, arial, helveticaneuecyrroman, sans-serif;
}

.main-subtitle {
	text-align: center;
	margin-bottom: 25px;
	font: 500 16px/19px robotoregular, arial, helveticaneuecyrroman, sans-serif;
}

.main-button {
	font: 500 14px/16px robotoregular, arial, helveticaneuecyrroman, sans-serif;
  //margin-left: 50px;
}
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item1 {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item1 {
  transition-duration: .25s;
}