.wrapper {
margin: auto;
width: 80%;
}
.logo, .menu {
display: inline-block;
}

.logo {
background: url('img/logo.svg');
width:190px;
height:35px;
}

.menu {
display: flex;
align-items: center;
}

.menu__item {
padding: 0 13px;
}

.menu__item:last-child {
padding-right:0;
}

.header {
padding: 40px 0;
display: flex;
justify-content: space-between;
}

.title {
font-family: Roboto;
font-weight: bold;
}

.main-content__title {
font-family: pt_serifregular;
font-weight: 700;
style: normal;
font-size: 50px;
}

.main-content__subtitle {
font-family: Roboto;
font-weight: 500;
font-style: normal;
font-size: 18px;
}

.main-content__button {
font-family: Roboto;
font-weight: 500;
font-style: normal;
font-size: 14px;
}