body {
border: dashed 3px green;
}
.wrapper {
margin: auto;
width: 80%;
border: dashed 2px green;
}
.logo, .menu, .main-content {
display: inline-block;
border: dashed 1px red;
}

.logo {
margin-right: 59%;
}

.header {
border: dashed 2px blue;
}

.main-content {
border: dashed 2px blue;
}

.title {
font-family: Roboto;
font-weight: bold;
}
